<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">
</head>
<body>
  <div class="links">
    <a href="{{ url_for('about') }}"></a>
  </div>
<div class="about-section">
  <h1>About Us </h1>
  <p>We believe the more we travel, the better we all become. That’s why our travel essentials are designed to last (and last) for every trip to come, so you can get out there and explore..</p>
  <p>We’re travelers, and our experiences inform our approach to the things we make. Simply put—our luggage is designed by travelers, for travelers. At Away, you’ll find suitcases, bags, and accessories built with thoughtful details to make each and every journey more seamless. We’re transforming travel to inspire you to get Away more and see more of the world along with us.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="dev-images\ruchi.jpg" style="width:100%">
      <div class="container">
        <h2>Ruchitha</h2>
        <p class="title">Back-end developer</p>
        <p>Responsible for creating the underlying code of a user interface site, instead of visual functionality of a site on which front-end developers focus.</p>
        <p>ruchithaj458@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="dev-images\anju.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Anjana</h2>
        <p class="title">Sql Developer</p>
        <p> Hybrid database engineer and software developer who uses structured query language (SQL) to manipulate data.</p>
        <p>anjanachekuri74@gmail.com</p>
      </div>
    </div>
  </div>
<div class="column">
    <div class="card">
      <img src="dev-images\niha.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Niharika</h2>
        <p class="title"> Front-end developer</p>
        <p>Designs each aspect of a website that users can see and with which they interact.</p>
        <p>nihaperuri@gmail.com</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="dev-images\kavya.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Kavya Sri</h2>
        <p class="title">Python Developer</p>
        <p>Programming language in apps, clouds and data mining, and these developers use this language for testing, design and data analytics.</p>
        <p>kavyasripusuluri@gmail.com</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
